<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Remove Bookmarked Flights</title>
</head>

<body>
	<h1>Removing All Bookmarked Flights</h1>
	

	<form action="/processFlightsRemove" method="POST">
        <fieldset>            
            <label><strong>Email Address: </strong><input type="email" name="email"></label><br><br>			
        </fieldset>
        <br>
        <input type="submit" id="Remove Bookmarked Flights" value="Remove Bookmarked Flights"/>
        <hr>
        <a href="/">HOME</a>
    </form> 
</body>

</html>
