<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Get Bookmarked Flights</title>
</head>

<body>
	<h1>Display Your Bookmarked Flights</h1>
	<form action="/yourBookmarkedFlights" method="POST">
        <fieldset>            
            <label><strong>Email Address: </strong><input type="email" name="email"></label><br><br>			
        </fieldset>
        <br>
        <input type="reset" value="Clear"/>
        <input type="submit" id="Get Bookmarked Flights" value="Get Bookmarked Flights"/>
        <hr>
        <a href="/">HOME</a>
</form>
</body>

</html>
