<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/style.css" type="text/css">
	<title>Flight Finder</title>
</head>

<body>
	<div style="background-color: lightcyan; border: groove 1rem skyblue; height: 56rem; width: 60rem; margin: 0; padding: 1rem; color:midnightblue;">
		<h1 style="text-align:center; font-family: 'Brush Script MT'; font-size: 3rem;">Welcome to Flight Finder!</h1>
		<!-- <img src="plane.jpg" alt="a white plane"> need to make a static folder for images -->
		<div style="background-color: white; text-align: center; border: solid; border-color: black; width: 30rem; height: 20rem; margin: 0 auto;">
			<h2>Are you ready for a vacation?</h2>
			<ul>
			 	<h3><a href="/findFlights">Find Your Next Flight</a></h3>
				<h3><a href="/getBookmarkedFlights">Review Bookmarked Flights</a></h3>
			</ul>	
		</div>

		<!-- <div style="border: solid 0.45rem lightblue; position: absolute; bottom: 0;">
			<footer style="text-align: center; width: 55rem; height: 2rem; padding: 1.5rem;">
				<div>
					<p>CMSC335 (Fall 2022) ~ Rachel, Michelle, Sravya, Sam</p>
				</div>
			</footer>			
        </div> -->
	</div>
</body>

</html>
