<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Flight Finder</title>
</head>

<body>
	<div style="background-color: lightcyan; border: groove 1rem skyblue; height: 56rem; width: 60rem; margin: 0; padding: 1rem; color:midnightblue;">
		<h1 style="text-align:center; font-family: 'Brush Script MT'; font-size: 3rem;">Welcome to Flight Finder!</h1>
		<img src="plane.jpg" style="display: block; margin-left: auto; margin-right: auto; width: 60%;" alt="a white plane"><br>
		<div style="background-color: white; text-align: center; border: solid; border-color: black; width: 36rem; height: 10rem; margin: 0 auto;">
			<h2>Are you ready for a vacation?</h2>
			<h3><a href="/findFlights">Find Your Next Flight</a></h3>
			<h3><a href="/getBookmarkedFlights">Review Bookmarked Flights</a></h3>
		</div>
	</div>
</body>

</html>
