<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<link rel="stylesheet" href="/style.css" type="text/css">
	<title>Flight Finder</title>
</head>

<body>
	<div class="outerContainer">
		<h1>Welcome to Flight Finder!</h1>

		<h2>Are you ready for a vacation?</h2>
		<ul>
			<li>To discover flights to the destination of your dreams select <a href="/findFlights">Find Flights</a></li>
			<li>To review your bookmarked flights select <a href="/getBookmarkedFlights">Review Bookmarked Flights</a></li>
		</ul>
		<hr>	
	</div>
</body>

</html>
