<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Process Flights Remove</title>
</head>

<body>
	
	<h1>Removal of All Bookmarked Flights</h1>
	
	All bookmarked flights under this email have been removed. 
	Number of flights removed: <%- numRemoved %>

	<br>
	<br>
	<a href="/">HOME</a>
</body>

</html>
