<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Your Bookmarked Flights</title>
</head>

<body>
	<h1>These are your bookmarked flights!</h1>
	<div>
		<%- bookmarkedFlightsTable %>
		<hr>
		<a href="/">HOME</a>
	</div>
</body>
</html>
