<!-- DO NOT MODIFY THIS FILE -->
<!doctype html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<title>Your Bookmarked Flights</title>
</head>

<body>
    <div style="background-color: lightcyan; border: groove 1rem skyblue; height: 56rem; width: 60rem; margin: 0; padding: 1rem; color:midnightblue;">
		<h1 style="text-align:center; font-family: 'Brush Script MT'; font-size: 3rem;">Your bookmarked flights!</h1>
        <div style="background-color: white; text-align: center; border: solid; border-color: black; width: 50rem; height: 25rem; padding-inline: 1rem; padding-top: 1rem; margin: 0 auto;">
			<hr>
			<a href="/">HOME</a>
		</div>	
	</div>
</body>
</html>
